---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
import { cacheHeaders, randomInt } from '../utils';

export const prerender = false;

const tags = ['/revalidation', 'cats-related', 'all-pets-related'];
const headers = cacheHeaders(365, tags);

Object.entries(headers).map(([k, v]) => {
    Astro.response.headers.set(k, v);
});

const explainer = `
We help students obtain prestigious fellowships with various institutes by providing tailored guidance and application assistance. Our partnerships with educational institutions ensure that students receive opportunities best suited to their academic and professional goals.

We facilitate valuable recommendations from both the host institutes and industry mentors. Our network of experienced professionals, who are deeply embedded in the industry, offer mentorship that enhances the students' profiles and supports their fellowship applications.
`;

const exampleTag = tags[randomInt(0, tags.length - 1)];
---

<Layout title="Fellowship">
    <h1 class="mb-10">Academic and Professional Opportunities</h1>
    <Markdown content={explainer} class="mb-10" />
</Layout>

<script>
    function revalidate(tag: string) {
        fetch('/api/revalidate', {
            method: 'POST',
            body: JSON.stringify({ tags: [tag] }),
            headers: {
                'Content-Type': 'application/json'
            }
        });
        alert(`Invalidated tag: ${tag}`);
    }

    const revalidateButton = document.querySelectorAll('button.revalidate-button')[0];
    revalidateButton.addEventListener('click', (e) => {
        const tag = (e.target as HTMLButtonElement).getAttribute('data-tag');
        revalidate(tag);
    });
</script>
