---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Are You Aiming for an Undergraduate or a Graduate School?

At Thinkorate, we believe every student deserves a shot at their dream college. Our dedicated team of mentors and advisors empowers you to build a standout college application profile from ground up.
`;
---

<Layout title="Welcome to Thinkorate">
    <ContextAlert class="mb-4" />
    <h1 class="mb-10">Want To Get Into Your Dream University?</h1>
    <Markdown content={explainer} class="text-lg mb-10" />
    <p class="mb-8">
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg btn-primary sm:btn-wide">Contact Us</a>
    </p>
</Layout>
