---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';
import { cacheHeaders, randomInt } from '../utils';

export const prerender = false;

const tags = ['/revalidation', 'cats-related', 'all-pets-related'];
const headers = cacheHeaders(365, tags);

Object.entries(headers).map(([k, v]) => {
    Astro.response.headers.set(k, v);
});

const explainer = `

At **Thinkorate**, we enhance your journey in computer science, guiding both new scholars and expert researchers to achieve groundbreaking discoveries.

# Research
We streamline your research from initial concept to final draft, ensuring each word is clear and impactful. We also assist in publishing your work in top-tier conferences such as IEEE, ACM, and Springer.

Our mentors are seasoned industry professionals, while our advisors, including PhD students and professors, guide you through the entire research process, ensuring a comprehensive and informed approach.

# Patents
We guide students in turning their creative ideas into viable inventions with the help of in-house patent lawyers and industrial experts who collectively hold over 100 patents. Our program includes interactive workshops and personalized sessions to refine and develop their concepts.

We also provide comprehensive support in filing provisional patents with the USPTO, protecting students' inventions early and setting the stage for future patent achievements.

`;

const exampleTag = tags[randomInt(0, tags.length - 1)];
---

<Layout title="Research/Patent">
    <h1 class="mb-10">Research & Patent Support for Computer Science Innovators</h1>
    <Markdown content={explainer} class="mb-10" />
</Layout>

<script>
    function revalidate(tag: string) {
        fetch('/api/revalidate', {
            method: 'POST',
            body: JSON.stringify({ tags: [tag] }),
            headers: {
                'Content-Type': 'application/json'
            }
        });
        alert(`Invalidated tag: ${tag}`);
    }

    const revalidateButton = document.querySelectorAll('button.revalidate-button')[0];
    revalidateButton.addEventListener('click', (e) => {
        const tag = (e.target as HTMLButtonElement).getAttribute('data-tag');
        revalidate(tag);
    });
</script>
