---

---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16">
    <p class="text-sm">
        <a class="decoration-dashed text-primary underline-offset-8"> All rights reserved to Thinkorate </a>
    </p>
</footer>
